@{
    ViewData["Title"] = "MyAccount";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../Template/TemplateMyAccount/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../Template/TemplateMyAccount/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../Template/TemplateMyAccount/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="../Template/TemplateMyAccount/css/style.css">
    <link rel="stylesheet" href="../Template/TemplateMyAccount/css/custom.css">

    <title>My Account</title>
</head>
<body class="show-sidebar" style="width:75%">

    <aside class="sidebar">
        @*<div class="toggle">
            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>*@
        <div class="side-inner">

            <div class="profile">
                <img src="../Template/TemplateMyAccount/images/person_xinh.jpg" alt="Image">
                <h3 class="name">@ViewBag.tenKhach</h3>
                <span class="country">Web Designer</span>
            </div>


            <div class="nav-menu">
                <ul>
                    <li><a asp-controller="HomeCustomer" asp-action="MyAccount"><span class="icon-account mr-3"></span>Account</a></li>
                    <li> <a asp-controller="HomeCustomer" asp-action="History"><span class="icon-history mr-3"></span>History</a></li>
                    <li><a asp-controller="HomeCustomer" asp-action="Index"><i class="fas fa-arrow-left"></i> Previous Page</a></li>
                    <li>
                        <a asp-controller="Access" asp-action="Logout">
                            <span class="icon-sign-out mr-3"></span>
                            Sign out
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </aside>
    <main>
        <div class="site-section">
            <div class="container">
                @*<div class="row justify-content-center">*@
                    @*<div class="container-fluid mt--7">*@
                        @*<div class="row">*@
                            @RenderBody()
                        @*</div>*@
                    @*</div>*@
                @*</div>*@
            </div>
        </div>
    </main>

    <script src="../../Template/TemplateMyAccount/js/jquery-3.3.1.min.js"></script>
    <script src="../../Template/TemplateMyAccount/js/popper.min.js"></script>
    <script src="../../Template/TemplateMyAccount/js/bootstrap.min.js"></script>
    <script src="../../Template/TemplateMyAccount/js/main.js"></script>
</body>
</html>