<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Grand Tour Travel Category Flat Bootstrap Responsive Web Template | Packages :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Grand Tour Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- css files -->
	<link href="../Assets/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
	<link href="../Assets/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
	<link href="../Assets/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<!-- //google fonts -->

</head>
<body>

	<!-- header -->
	@await Html.PartialAsync("Header")
	<!-- //header -->
	<!-- banner -->
	<section class="banner_inner" id="home">
		<div class="banner_inner_overlay">
		</div>
	</section>
	<!-- //banner -->
	<!-- tour packages -->
	<section class="packages pt-5">
		<div class="container py-lg-4 py-sm-3">
			<h2 class="heading text-capitalize text-center"> Discover our tour packages</h2>
			<p class="text mt-2 mb-5 text-center">Vestibulum tellus neque, sodales vel mauris at, rhoncus finibus augue. Vestibulum urna ligula, molestie at ante ut, finibus vulputate felis.</p>
			<div class="row">
             @RenderBody()
		</div>
		</div>
	</section>
	<!-- tour packages -->

	<!-- destinations -->
	<section class="destinations py-5" id="destinations">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="heading text-capitalize text-center"> Popular Destinations</h3>
			<p class="text mt-2 mb-5 text-center">Vestibulum tellus neque, sodales vel mauris at, rhoncus finibus augue. Vestibulum urna ligula, molestie at ante ut, finibus vulputate felis.</p>
			<div class="row inner-sec-w3layouts-w3pvt-lauinfo">
				<div class="col-md-3 col-sm-6 col-6 destinations-grids text-center">
					<h4 class="destination mb-3">China</h4>
					<div class="image-position position-relative">
						<img src="../Assets/images/china.jpg" class="img-fluid" alt="">
						<div class="rating">
							<ul>
								<li><span class="fa fa-star"></span></li>
								<li><span class="fa fa-star"></span></li>
								<li><span class="fa fa-star"></span></li>
								<li><span class="fa fa-star"></span></li>
								<li><span class="fa fa-star"></span></li>
							</ul>
						</div>
					</div>
					<div class="destinations-info">
						<div class="caption mb-lg-3">
							<h4>China</h4>
							<a href="booking.html">Book Now</a>
						</div>
					</div>
					<br>
				</div>
				<div class="col-md-3 col-sm-6 col-6 destinations-grids text-center">
					<h4 class="destination mb-3">Malaysia</h4>
					<div class="image-position position-relative">
						<img src="../Assets/images/malaysia.jpg" class="img-fluid" alt="">
						<div class="rating">
							<ul>
								<li><span class="fa fa-star"></span></li>
								<li><span class="fa fa-star"></span></li>
								<li><span class="fa fa-star"></span></li>
								<li><span class="fa fa-star"></span></li>
								<li><span class="fa fa-star"></span></li>
							</ul>
						</div>
					</div>
					<div class="destinations-info">
						<div class="caption mb-lg-3">
							<h4>Malaysia</h4>
							<a href="booking.html">Book Now</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-6 destinations-grids text-center mt-md-0 mt-4">
					<h4 class="destination mb-3">Japan</h4>
					<div class="image-position position-relative">
						<img src="../Assets/images/japan.jpg" class="img-fluid" alt="">
						<div class="rating">
							<ul>
								<li><span class="fa fa-star"></span></li>
								<li><span class="fa fa-star"></span></li>
								<li><span class="fa fa-star"></span></li>
								<li><span class="fa fa-star"></span></li>
								<li><span class="fa fa-star"></span></li>
							</ul>
						</div>
					</div>
					<div class="destinations-info">
						<div class="caption mb-lg-3">
							<h4>Japan</h4>
							<a href="booking.html">Book Now</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-6 destinations-grids text-center mt-md-0 mt-4">
					<h4 class="destination mb-3">Singapore</h4>
					<div class="image-position position-relative">
						<img src="../Assets/images/singapore.jpg" class="img-fluid" alt="">
						<div class="rating">
							<ul>
								<li><span class="fa fa-star"></span></li>
								<li><span class="fa fa-star"></span></li>
								<li><span class="fa fa-star"></span></li>
								<li><span class="fa fa-star"></span></li>
								<li><span class="fa fa-star"></span></li>
							</ul>
						</div>
					</div>
					<div class="destinations-info">
						<div class="caption mb-lg-3">
							<h4>Singapore</h4>
							<a href="booking.html">Book Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- destinations -->
	<!--footer -->
	@await Html.PartialAsync("Footer")
	<!-- //footer -->
	<!-- copyright -->
	<div class="copyright py-3 text-center">
		<p>© 2019 Grand Tour. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="=_blank"> W3layouts </a></p>
	</div>
	<!-- //copyright -->
	<!-- move top -->
	<div class="move-top text-right">
		<a href="#home" class="move-top">
			<span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
		</a>
	</div>
	<!-- move top -->


</body>
</html>