<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grand Tour Travel Category Flat Bootstrap Responsive Web Template | Packages :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Grand Tour Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }</script>

    <!-- css files -->
    <link href="../Assets/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="../Assets/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="../Assets/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <!-- //css files -->
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- //google fonts -->
    <!-- Search -->
    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/../Assets/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/../Assets/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../Assets/css/search.css" rel="stylesheet" media="all">
    <!-- Search -->
    <!-- Slider -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../Assets/css/css_Slider/owl.carousel.min.css">
    <link rel="stylesheet" href="../Assets/css/css_Slider/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
    <link rel="stylesheet" href="../Assets/css/css_Slider/style_Slider.css">
</head>
<body>

    <!-- header -->
    <header>
        <div class="container">
            <!-- nav -->
            <nav class="py-md-4 py-3 d-lg-flex">
                <div id="logo">
                    <h1 class="mt-md-0 mt-2"> <a href="index.html"><span class="fa fa-map-signs"></span> Grand Tour </a></h1>
                </div>
                <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                <input type="checkbox" id="drop" />
                <ul class="menu ml-auto mt-1">
                    <li class=""><a href="index.html">Home</a></li>
                    <li class=""><a href="about.html">About Us</a></li>
                    <li class=""><a href="cooperate.html">Cooperate</a></li>
                    <li class=""><a href="services.html">Services</a></li>
                    <li class="active"><a href="packages.html">Packages</a></li>
                    <li class=""><a href="contact.html">Contact</a></li>
                    <li class="booking"><a href="login.html">Login</a></li>
                </ul>
            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->
    <!-- banner -->
    <section class="banner_inner" id="home">
        <div class="banner_inner_overlay">
        </div>
    </section>
    <!-- //banner -->
    <!-- Search -->
    <!-- <div class="page-wrapper bg-color-1 p-t-395 p-b-120"> -->
    <div class="wrapper wrapper--w1226">
        <div class="card card-7">
            <div class="card-body">
                <form class="form" method="POST" action="#">
                    <div class="input-group input--large">
                        <label class="label">travel destinations</label>
                        <input class="input--style-1" type="text" placeholder="Destination, hotel name" name="going">
                    </div>
                    <div class="input-group input--large">
                        <label class="label">tourist spots</label>
                        <input class="input--style-1" type="text" placeholder="Destination, hotel name" name="going">
                    </div>
                    <div class="input-group input--medium">
                        <label class="label">Check-In</label>
                        <input class="input--style-1" type="text" name="checkin" placeholder="mm/dd/yyyy" id="input-start">
                    </div>
                    <div class="input-group input--medium">
                        <label class="label">Check-Out</label>
                        <input class="input--style-1" type="text" name="checkout" placeholder="mm/dd/yyyy" id="input-end">
                    </div>
                    <button class="btn-submit" type="submit">search</button>
                </form>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <!-- //Search -->
    <!-- Slider -->
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="featured-carousel owl-carousel">
                        <div class="item">
                            <div class="work">
                                <div class="img d-flex align-items-end justify-content-center" style="background-image: url(../Assets/images/about.jpg);">
                                    <div class="text w-100">
                                        <span class="cat">Web Design</span>
                                        <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="work">
                                <div class="img d-flex align-items-end justify-content-center" style="background-image: url(../Assets/images/banner4.jpg);">
                                    <div class="text w-100">
                                        <span class="cat">Web Design</span>
                                        <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="work">
                                <div class="img d-flex align-items-end justify-content-center" style="background-image: url(../Assets/images/banner1.jpg);">
                                    <div class="text w-100">
                                        <span class="cat">Web Design</span>
                                        <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="work">
                                <div class="img d-flex align-items-end justify-content-center" style="background-image: url(../Assets/images/banner2.jpg);">
                                    <div class="text w-100">
                                        <span class="cat">Web Design</span>
                                        <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="work">
                                <div class="img d-flex align-items-end justify-content-center" style="background-image: url(../Assets/images/banner3.jpg);">
                                    <div class="text w-100">
                                        <span class="cat">Web Design</span>
                                        <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //Slider -->
    <!-- tour packages -->
    <section class="packages pt-5">
        <div class="container py-lg-4 py-sm-3">
            <h2 class="heading text-capitalize text-center"> Discover our tour packages</h2>
            <p class="text mt-2 mb-5 text-center">Vestibulum tellus neque, sodales vel mauris at, rhoncus finibus augue. Vestibulum urna ligula, molestie at ante ut, finibus vulputate felis.</p>
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </section>
    <!-- tour packages -->
    <!-- destinations -->
    <section class="destinations py-5" id="destinations">
        <div class="container py-xl-5 py-lg-3">
            <h3 class="heading text-capitalize text-center"> Popular Destinations</h3>
            <p class="text mt-2 mb-5 text-center">Vestibulum tellus neque, sodales vel mauris at, rhoncus finibus augue. Vestibulum urna ligula, molestie at ante ut, finibus vulputate felis.</p>
            <div class="row inner-sec-w3layouts-w3pvt-lauinfo">
                <div class="col-md-3 col-sm-6 col-6 destinations-grids text-center">
                    <h4 class="destination mb-3">China</h4>
                    <div class="image-position position-relative">
                        <img src="../Assets/images/anh833.jpg" class="img-fluid" alt="">
                        <div class="rating">
                            <ul>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="destinations-info">
                        <div class="caption mb-lg-3">
                            <h4>China</h4>
                            <a href="booking.html">Book Now</a>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-md-3 col-sm-6 col-6 destinations-grids text-center">
                    <h4 class="destination mb-3">Malaysia</h4>
                    <div class="image-position position-relative">
                        <img src="../Media/ImagesTour/Malai.jpg" class="img-fluid" alt="">
                        <div class="rating">
                            <ul>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="destinations-info">
                        <div class="caption mb-lg-3">
                            <h4>Malaysia</h4>
                            <a href="booking.html">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 destinations-grids text-center mt-md-0 mt-4">
                    <h4 class="destination mb-3">Thái Lan </h4>
                    <div class="image-position position-relative">
                        <img src="../Assets/images/anh23.jpg" class="img-fluid" alt="">
                        <div class="rating">
                            <ul>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="destinations-info">
                        <div class="caption mb-lg-3">
                            <h4>Japan</h4>
                            <a href="booking.html">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 destinations-grids text-center mt-md-0 mt-4">
                    <h4 class="destination mb-3">Singapore</h4>
                    <div class="image-position position-relative">
                        <img src="../Media/ImagesTour/Sing.jpg" class="img-fluid" alt="">
                        <div class="rating">
                            <ul>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="destinations-info">
                        <div class="caption mb-lg-3">
                            <h4>Singapore</h4>
                            <a href="booking.html">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- destinations -->
    <!--footer -->
    <footer>
        <section class="footer footer_w3layouts_section_1its py-5">
            <div class="container py-lg-4 py-3">
                <div class="row footer-top">
                    <div class="col-lg-3 col-sm-6 footer-grid_section_1its_w3">
                        <div class="footer-title">
                            <h3>Address</h3>
                        </div>
                        <div class="footer-text">
                            <p>Location : 1234 lock, Charlotte, North Carolina, United States</p>
                            <p>Phone : +12 534894364</p>
                            <p>Email : <a href="mailto:info@example.com">info@example.com</a></p>
                            <p>Fax : +12 534894364</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-grid_section mt-sm-0 mt-4">
                        <div class="footer-title">
                            <h3>About Us</h3>
                        </div>
                        <div class="footer-text">
                            <p>
                                Vivamus magna justo, laci niats eget consectetur sed, conval lis at tellus. Nulla quis lorem ipnt libero.
                                Lorem ipsum dolor.
                            </p>
                        </div>
                        <ul class="social_section_1info">
                            <li class="mb-2 facebook"><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li class="mb-2 twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li class="google"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li class="linkedin"><a href="#"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4 footer-grid_section_1its_w3">
                        <div class="footer-title">
                            <h3>Travel Places</h3>
                        </div>
                        <div class="row">
                            <ul class="col-6 links">
                                <li><a href="#choose" class="scroll">New Zealand </a></li>
                                <li><a href="#overview" class="scroll">Paris, France </a></li>
                                <li><a href="#pricing" class="scroll">Los Angles</a></li>
                                <li><a href="#faq" class="scroll"> Darlington</a></li>
                                <li><a href="#testimonials" class="scroll">Canada </a></li>
                                <li><a href="#contact" class="scroll"> South Africa </a></li>
                            </ul>
                            <ul class="col-6 links">
                                <li><a href="#">Spain </a></li>
                                <li><a href="#">Turkey </a></li>
                                <li><a href="#faq" class="scroll">Europe </a></li>
                                <li><a href="#">Italy </a></li>
                                <li><a href="#">Sweden </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4 footer-grid_section_1its_w3">
                        <div class="footer-title">
                            <h3>Newsletter</h3>
                        </div>
                        <div class="footer-text">
                            <p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
                            <form action="#" method="post">
                                <input type="email" name="Email" placeholder="Enter your email..." required="">
                                <button class="btn1"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                <div class="clearfix"> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copyright py-3 text-center">
        <p>© 2019 Grand Tour. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="=_blank"> W3layouts </a></p>
    </div>
    <!-- //copyright -->
    <!-- move top -->
    <div class="move-top text-right">
        <a href="#home" class="move-top">
            <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
        </a>
    </div>
    <!-- move top -->
    <!-- Search -->
    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/jquery-validate/jquery.validate.min.js"></script>
    <script src="vendor/bootstrap-wizard/bootstrap.min.js"></script>
    <script src="vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>
    <!-- Search -->
    <!-- Main JS-->
    <script src="../Assets/js/search.js"></script>

    <script src="../Assets/js/js_Slider/jquery.min.js"></script>
    <script src="../Assets/js/js_Slider/popper.js"></script>
    <script src="../Assets/js/js_Slider/bootstrap.min.js"></script>
    <script src="../Assets/js/js_Slider/owl.carousel.min.js"></script>
    <script src="../Assets/js/js_Slider/main.js"></script>
</body>
</html>