<!-- header -->
	<header>
		<div class="container">
			<!-- nav -->
			<nav class="py-md-4 py-3 d-lg-flex">
				<div id="logo">
					<h1 class="mt-md-0 mt-2"> <a href="index.html"><span class="fa fa-map-signs"></span> Grand Tour </a></h1>
				</div>
				<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
				<input type="checkbox" id="drop" />
				<ul class="menu ml-auto mt-1">
					<li class=""><a href="index.html">Home</a></li>
					<li class=""><a href="about.html">About Us</a></li>
					<li class=""><a href="cooperate.html">Cooperate</a></li>
					<li class=""><a href="services.html">Services</a></li>
					<li class="active"><a href="packages.html">Packages</a></li>
					<li class=""><a href="contact.html">Contact</a></li>
					<li class="booking"><a href="login.html">Login</a></li>
				</ul>
			</nav>
			<!-- //nav -->
		</div>
	</header>
	<!-- //header -->
	<!-- banner -->
	<section class="banner_inner" id="home">
		<div class="banner_inner_overlay">
		</div>
	</section>

<!-- //banner -->
<!-- Search -->
<!-- <div class="page-wrapper bg-color-1 p-t-395 p-b-120"> -->
<div class="wrapper wrapper--w1226">
	<div class="card card-7">
		<div class="card-body">
			<form class="form" method="POST" asp-controller="Customer" asp-action="Search">
				<div class="input-group input--large">
					<label class="label">From</label>
					<input class="input--style-1" type="text" placeholder="Name" name="from">
				</div>
				<div class="input-group input--large">
					<label class="label">To</label>
					<input class="input--style-1" type="text" placeholder="Name" name="to">
				</div>
				<div class="input-group input--medium">
					<label class="label">Check-In</label>
					<input class="input--style-1" type="text" name="checkin" placeholder="mm/dd/yyyy" id="input-start">
				</div>
				<div class="input-group input--medium">
					<label class="label">Check-Out</label>
					<input class="input--style-1" type="text" name="checkout" placeholder="mm/dd/yyyy" id="input-end">
				</div>
				<button class="btn-submit" type="submit">search</button>
			</form>
		</div>
	</div>
</div>
