<section class="destinations py-5" id="destinations">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="heading text-capitalize text-center"> Popular Destinations</h3>
        <p class="text mt-2 mb-5 text-center">Here are some countries that are being loved by thousands of people for travel and beauty. You won't be disappointed.</p>
        <div class="row inner-sec-w3layouts-w3pvt-lauinfo">
            <div class="col-md-3 col-sm-6 col-6 destinations-grids text-center">
                <h4 class="destination mb-3">China</h4>
                <div class="image-position position-relative">
                    <img src="../Assets/images/anh833.jpg" class="img-fluid" alt="">
                    <div class="rating">
                        <ul>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="destinations-info">
                    <div class="caption mb-lg-3">
                        <h4>China</h4>
                        <h5 class="my-2"><a asp-controller="Customer" asp-action="TourChina">See More </a></h5>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-3 col-sm-6 col-6 destinations-grids text-center">
                <h4 class="destination mb-3">Anh Quốc</h4>
                <div class="image-position position-relative">
                    <img src="../Media/ImagesTour/Anh.jpg" class="img-fluid" alt="">
                    <div class="rating">
                        <ul>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="destinations-info">
                    <div class="caption mb-lg-3">
                        <h4>Anh Quốc</h4>
                        <h5 class="my-2"><a asp-controller="Customer" asp-action="TourAnh">See More </a></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 destinations-grids text-center mt-md-0 mt-4">
                <h4 class="destination mb-3">Thái Lan </h4>
                <div class="image-position position-relative">
                    <img src="../Assets/images/anh23.jpg" class="img-fluid" alt="">
                    <div class="rating">
                        <ul>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="destinations-info">
                    <div class="caption mb-lg-3">
                        <h4>Thái Lan </h4>
                        <h5 class="my-2"><a asp-controller="Customer" asp-action="TourThaiLan">See More </a></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 destinations-grids text-center mt-md-0 mt-4">
                <h4 class="destination mb-3">Singapore</h4>
                <div class="image-position position-relative">
                    <img src="../Media/ImagesTour/Sing.jpg" class="img-fluid" alt="">
                    <div class="rating">
                        <ul>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="destinations-info">
                    <div class="caption mb-lg-3">
                        <h4>Singapore</h4>
                        <h5 class="my-2"><a asp-controller="Customer" asp-action="TourSingapore">See More </a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- destinations -->
<!--footer -->
<footer>
    <section class="footer footer_w3layouts_section_1its py-5">
        <div class="container py-lg-4 py-3">
            <div class="row footer-top">
                <div class="col-lg-3 col-sm-6 footer-grid_section_1its_w3">
                    <div class="footer-title">
                        <h3>Address</h3>
                    </div>
                    <div class="footer-text">
                        <p>Location : 1234 lock, Charlotte, North Carolina, United States</p>
                        <p>Phone : +12 534894364</p>
                        <p>Email : <a href="mailto:info@example.com">info@example.com</a></p>
                        <p>Fax : +12 534894364</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 footer-grid_section mt-sm-0 mt-4">
                    <div class="footer-title">
                        <h3>About Us</h3>
                    </div>
                    <div class="footer-text">
                        <p>
                            Vivamus magna justo, laci niats eget consectetur sed, conval lis at tellus. Nulla quis lorem ipnt libero.
                            Lorem ipsum dolor.
                        </p>
                    </div>
                    <ul class="social_section_1info">
                        <li class="mb-2 facebook"><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class="mb-2 twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class="google"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        <li class="linkedin"><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4 footer-grid_section_1its_w3">
                    <div class="footer-title">
                        <h3>Travel Places</h3>
                    </div>
                    <div class="row">
                        @await Component.InvokeAsync("QuocGiaMenu")
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4 footer-grid_section_1its_w3">
                    <div class="footer-title">
                        <h3>Newsletter</h3>
                    </div>
                    <div class="footer-text">
                        <p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
                        <form action="#" method="post">
                            <input type="email" name="Email" placeholder="Enter your email..." required="">
                            <button class="btn1"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            <div class="clearfix"> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="copyright py-3 text-center">
    <p>© 2019 Grand Tour. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="=_blank"> W3layouts </a></p>
</div>
<!-- //copyright -->
<!-- move top -->
<div class="move-top text-right">
    <a href="#home" class="move-top">
        <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
    </a>
</div>
<!-- move top -->
<!-- Search -->
<!-- Jquery JS-->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/jquery-validate/jquery.validate.min.js"></script>
<script src="vendor/bootstrap-wizard/bootstrap.min.js"></script>
<script src="vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>
<!-- Search -->
<!-- Main JS-->
<script src="../Assets/js/search.js"></script>

<script src="../Assets/js/js_Slider/jquery.min.js"></script>
<script src="../Assets/js/js_Slider/popper.js"></script>
<script src="../Assets/js/js_Slider/bootstrap.min.js"></script>
<script src="../Assets/js/js_Slider/owl.carousel.min.js"></script>
<script src="../Assets/js/js_Slider/main.js"></script>