
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="head-title">
    <div class="left">
        <h1>Home</h1>
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" asp-action="Index">Home</a>
            </li>
        </ul>
    </div>
</div>

