@model IEnumerable<Nhom1_LapTrinhWeb_CNTT2_K61.Models.Tour>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="head-title">
    <div class="left">
        <h1>List Tour</h1>
        <ul class="breadcrumb">
            <li>
                <a href="#">ListTour</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" asp-action="Index">Home</a>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane active">
        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Travel list waiting for approval</h3>
                    <i class='bx bx-search'></i>
                    <i class='bx bx-filter'></i>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Tour
                            </th>
                            <th>
                                Active
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenTour)
                                </td>
                                <td>
                                    @if (item.Active == 0)
                                    {
                                        <span class="status pending">Pending</span>
                                    }
                                    else if (item.Active == 1)
                                    {
                                        <span class="status completed">Approved</span>
                                    }
                                </td>
                                <td>
                                    <button asp-action="EditTour" asp-controller="ListTour" asp-route-maTour="@item.MaTour">Edit</button> 
                                    <button asp-action="Details" asp-route-id="@item.MaTour">Details</button> 
                                    <button asp-action="Delete" asp-route-id="@item.MaTour">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>