@model Nhom1_LapTrinhWeb_CNTT2_K61.Models.HoaDon
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddBill";
    Layout = "~/Areas/Cooperator/Views/Shared/_LayoutCooperator.cshtml";
}

<h1>AddBill</h1>

<h4>HoaDon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="AddBill">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaDaiLy" class="control-label"></label>
                <select asp-for="MaDaiLy" class ="form-control" asp-items="ViewBag.MaDaiLy"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaTour" class="control-label"></label>
                <select asp-for="MaTour" class ="form-control" asp-items="ViewBag.MaTour"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaKh" class="control-label"></label>
                <select asp-for="MaKh" class ="form-control" asp-items="ViewBag.MaKh"></select>
            </div>
            <div class="form-group">
                <label asp-for="TongTien" class="control-label"></label>
                <input asp-for="TongTien" class="form-control" />
                <span asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="listbill">Back to List</a>
</div>

