@model Nhom1_LapTrinhWeb_CNTT2_K61.Models.Tour
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "EditTour";
    Layout = "~/Areas/Cooperator/Views/Shared/_LayoutCooperator.cshtml";
}

<h1>EditTour</h1>

<h4>Tour</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="EditTour">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaTour" />
            <div class="form-group">
                <label asp-for="MaNv" class="control-label"></label>
                <select asp-for="MaNv" class="form-control" asp-items="ViewBag.MaNv"></select>
                <span asp-validation-for="MaNv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaDiem" class="control-label"></label>
                <input asp-for="DiaDiem" class="form-control" />
                <span asp-validation-for="DiaDiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenTour" class="control-label"></label>
                <input asp-for="TenTour" class="form-control" />
                <span asp-validation-for="TenTour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChiTietLt" class="control-label"></label>
                <input asp-for="ChiTietLt" class="form-control" />
                <span asp-validation-for="ChiTietLt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayBd" class="control-label"></label>
                <input asp-for="NgayBd" class="form-control" />
                <span asp-validation-for="NgayBd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayKt" class="control-label"></label>
                <input asp-for="NgayKt" class="form-control" />
                <span asp-validation-for="NgayKt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiKhoiHanh" class="control-label"></label>
                <input asp-for="NoiKhoiHanh" class="form-control" />
                <span asp-validation-for="NoiKhoiHanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhTour" class="control-label"></label>
                <input asp-for="AnhTour" class="form-control" type="file" />
                <span asp-validation-for="AnhTour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDeleted" class="control-label"></label>
                <input asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

