<div class="head-title">
				   <div class="left">
				   <h1>dashboard</h1>
				   <ul class="breadcrumb">
				   <li>
				   <a href="#">dashboard</a>
				   </li>
				   <li><i class='bx bx-chevron-right'></i></li>
				   <li>
				   <a class="active" href="#">home</a>
				   </li>
				   </ul>
				   </div>
				   </div>
				   <!-- dashboard -->
				   <div class="tab-content">
				   <!-- useroder -->
				   <div class="tab-pane active">
				   <div class="table-data">
				@*   <div class="order">
				   <div class="head">*@
				   
				   <i class='bx bx-search'></i>
				   <i class='bx bx-filter'></i>
				   </div>
				   <table>
				   <thead>
				  
				   </thead>
				   <tbody>
				   @*<tr>
				   
				   <td><span class="status completed">completed</span></td>
				   </tr>
				   <tr>
				   <td>
				   <img src="images/user.png">
				   <p>john doe</p>
				   </td>
				   <td>01-10-2021</td>*@
				  @* <td><span class="status pending">pending</span></td>
				   </tr>*@
				   @*<tr>
				   <td>
				   <img src="images/user.png">
				   <p>john doe</p>
				   </td>
				   <td>01-10-2021</td>
				   <td><span class="status process">process</span></td>
				   </tr>*@
				   </tbody>
				   </table>
				   </div>
				   </div>
				   </div>
				   <!-- menu -->
				   <div class="tab-pane">
				   <div class="table-data">
				   <div class="order">
				   <div class="head">
				   <h3>menu</h3>
				   <i class='bx bx-search'></i>
				   <i class='bx bx-filter'></i>
				   </div>
				   <table>
				   <thead>
				   <tr>
				   <th>food's name</th>
				   <th>category</th>
				   <th>description</th>
				   <th>price</th>
				   <th>date create</th>
				   <th>date update</th>
				   <th>status</th>
				   </tr>
				   </thead>
				   <tbody>
				   <tr>
				   <td>
				   <img src="images/people.png">
				   <p>john doe</p>
				   </td>
				   <td>category</td>
				   <td>description</td>
				   <td>price</td>
				   <td>date create</td>
				   <td>date update</td>
				   <td><span class="status completed">completed</span></td>
				   </tr>
				   </tbody>
				   </table>
				   </div>
				   </div>
				   </div>
				   <!-- beverage -->
				   <div class="tab-pane">
				   <div class="table-data">
				   <div class="order">
				   <div class="head">
				   <h3>beverage</h3>
				   <i class='bx bx-search'></i>
				   <i class='bx bx-filter'></i>
				   </div>
				   <table>
				   <thead>
				   <tr>
				   <th>drink's name</th>
				   <th>category</th>
				   <th>description</th>
				   <th>price</th>
				   <th>date create</th>
				   <th>date update</th>
				   <th>status</th>
				   </tr>
				   </thead>
				   <tbody>
				   <tr>
				   <td>
				   <img src="images/people.png">
				   <p>john doe</p>
				   </td>
				   <td>category</td>
				   <td>description</td>
				   <td>price</td>
				   <td>date create</td>
				   <td>date update</td>
				   <td><span class="status completed">completed</span></td>
				   </tr>
				   </tbody>
				   </table>
				   </div>
				   </div>
				   </div>
