<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/./Assets/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="../Assets/css/admin.css">
	<title>AdminHub</title>
</head>
<body>


	<!-- SIDEBAR -->
	@await Html.PartialAsync("PartialSection")
	<!-- SIDEBAR -->
	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu'></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell'></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="../Assets/images/people.png"
			</a>
		</nav>
		<!-- NAVBAR -->
		<!-- MAIN -->
		<main>
			@RenderBody()
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	<script src="../Assets/js/script.js"></script>
</body>
</html>